.fontOverwrite{
    color:black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.linkOverwrite{
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

.clickOverwrite{
    color: rgb(46, 109, 191);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: right;
}

.buttonOverwrite{
    background-color: black;
}

.byuLink{
    font-style: italic;
    text-decoration: underline;
}

.contact{
    font-weight: 200;
    font-size:larger;
}

body{
    background-color: antiquewhite;
}

.headerColor{
    color: antiquewhite;
}